<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <link rel="stylesheet" type="text/css" href="../style/css.css">
</head>

<body>
    <header>
        <img id="logo-izquierda" src="logo-izquierda.png" alt="Logo Izquierda">
        <img id="logo-derecha" src="../img/Logos/LOGO_ARCADE.png" alt="Logo Derecha">
        <div id="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="Horarios.html">Horarios</a></li>
                <li><a href="Plano.html">Plano</a></li>
                <li><a href="Invitados.html">Invitados</a></li>
                <li><a href="Como_llegar.html">Cómo llegar</a></li>
            </ul>
        </div>
    </header>

    <div id="contenido">
        <section id="inicio">
            <h1>Página de Inicio</h1>
            <img src="imagen-central.jpg" alt="Imagen Central">
            <!-- Galería de imágenes -->
            <div class="galeria">
                <!-- Aquí puedes agregar las imágenes de la galería -->
            </div>
        </section>

        <section id="horarios">
            <h1>Horarios</h1>
            <ul>
                <li>Viernes mañana</li>
                <li>Viernes tarde</li>
                <li>Sábado mañana</li>
                <li>Sábado tarde</li>
                <li>Domingo mañana</li>
                <li>Domingo tarde</li>
            </ul>
        </section>

        <section id="plano">
            <h1>Plano</h1>
            <!-- Agrega aquí el plano de tu evento -->
        </section>

        <section id="invitados">
            <h1>Invitados</h1>
            <!-- Agrega aquí información sobre los invitados -->
        </section>

        <section id="como-llegar">
            <h1>Cómo llegar</h1>
            <canvas id="mapa" width="400" height="300"></canvas>
            <img src="imagen-mapa.jpg" alt="Mapa">
        </section>
    </div>

    <footer>
        <div id="pie">
            <p>Colaboradores:</p>
            <!-- Lista de colaboradores -->
        </div>
    </footer>

    <script src="js/main.js"></script>
</body>

</html>